*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* h1 {
    border: 2px dashed red;
    font-size: 3rem;
    padding: 0.5em;
}
.container{
    border: 2px dashed red;
    font-size: 1.5rem;
    padding: 2rem 4rem 2rem 2rem;
    margin: 1.5em ;
} */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
.logo{
    color: aliceblue;
    border-top: ;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    /* margin-left: 20px; */
    gap: 20px;
}